body {
   display: flex;
   flex-direction: column;
}

.keyboard__textarea {
    margin: 10px auto;
    width: 60vw;
    min-height: 20vh;
    max-height: 50vh;
    background-color: rgba(230, 215, 215, 0.3);
    resize: none;
    outline: none;
}

.keyboard__keys {
    margin: 0 auto;
    display: flex;
    width: 850px;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard__key {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(230, 215, 215, 0.3);
    margin: 3px;
    padding: 3px;
    justify-content: center;
    outline: none;
}

.keyboard__key-long {
    width: 106px;
}

.keyboard__key-long-long {
    width: 330px;
}

.keyboard__special {
    background-color: rgba(230, 215, 215, 0.6);
}

.keyboard__key:active {
    background-color: rgba(230, 205, 215, 0.9);
}

.keyboard__key-select {
    background-color: lightgreen;
}

.about {
    margin: 0 auto;
    font-size: 30px;
}